<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siyu.common.mapper.NotificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.siyu.common.domain.entity.Notification">
        <result column="id" property="id" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="type" property="type" />
        <result column="from" property="from" />
        <result column="to" property="to" />
        <result column="content" property="content" />
    </resultMap>
    <select id="loadById" resultType="com.siyu.common.domain.entity.Notification">
        SELECT
            notification.id,
            notification.type,
            notification.content,
            notification.deleted,
            notification.create_time,
            notification.update_time,
            IF(notification.from = '0', '系统通知', sys_user_from.nickname) AS 'from',
            IF(notification.to = '0', '所有人', sys_user_to.nickname) AS 'to'
        FROM notification
        LEFT OUTER JOIN sys_user AS sys_user_from ON notification.from = sys_user_from.id
        LEFT OUTER JOIN sys_user AS sys_user_to ON notification.to = sys_user_to.id
        WHERE notification.id = #{id}
    </select>
    <select id="pageWithName" resultType="com.siyu.common.domain.entity.Notification">
        SELECT
            notification.id,
            notification.type,
            notification.content,
            notification.deleted,
            notification.create_time,
            notification.update_time,
            IF(notification.from = '0', '系统通知', sys_user_from.nickname) AS 'from',
            IF(notification.to = '0', '所有人', sys_user_to.nickname) AS 'to'
        FROM notification
            LEFT OUTER JOIN sys_user AS sys_user_from ON notification.from = sys_user_from.id
            LEFT OUTER JOIN sys_user AS sys_user_to ON notification.to = sys_user_to.id
        ${ew.customSqlSegment}
    </select>

</mapper>
