<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siyu.common.mapper.SysDepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.siyu.common.domain.entity.SysDepartment">
        <result column="id" property="id" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="remark" property="remark" />
        <result column="level" property="level" />
        <result column="code" property="code" />
    </resultMap>
    <select id="getFullDepartmentName" resultType="java.lang.String">
        SELECT
            group_concat(name ORDER BY LENGTH(code) SEPARATOR '-' )
        FROM
            sys_department
        WHERE
            #{departmenCode} LIKE CONCAT('', code, '%')
        AND
            sys_department.deleted = false;
    </select>
    <select id="getMaxCodeByLevel" resultType="java.lang.String">
        SELECT max(code) AS code FROM sys_department WHERE level = #{level}
    </select>
    <select id="getMaxCodeByParentId" resultType="java.lang.String">
        SELECT max(code) AS code FROM sys_department WHERE parent_id = #{parentId}
    </select>
    <select id="selectBaseDepartmentByCode" resultType="com.siyu.common.domain.dto.SysDepartmentBaseDTO">
        SELECT code,
        (
            SELECT
                group_concat(name ORDER BY LENGTH(code) SEPARATOR '-' )
            FROM
                sys_department
            WHERE
                #{departmentCode} LIKE CONCAT('', code, '%')
        ) AS fullName
        FROM sys_department
        WHERE code = #{departmetnCode}
    </select>

</mapper>
