<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siyu.common.mapper.SysPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.siyu.common.domain.entity.SysPermission">
        <result column="id" property="id" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="permission_value" property="permissionValue" />
        <result column="path" property="path" />
        <result column="component" property="component" />
        <result column="icon" property="icon" />
        <result column="status" property="status" />
    </resultMap>
    <select id="selectPermissionsByRoleId" resultType="com.siyu.common.domain.entity.SysPermission">
        SELECT * FROM sys_permission
        LEFT OUTER JOIN sys_role_permission ON sys_permission.id = sys_role_permission.permission_id
        WHERE sys_role_permission.role_id = #{roleId}
        AND sys_permission.deleted = false;
    </select>
    <select id="menuListByRoleIds" resultType="com.siyu.common.domain.entity.SysPermission">
        SELECT * FROM sys_permission
        LEFT OUTER JOIN sys_role_permission ON sys_permission.id = sys_role_permission.permission_id
        WHERE sys_role_permission.role_id IN
        <foreach collection="roleIds" index="index" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
        AND sys_permission.type = 1
        AND sys_permission.status = true
        AND sys_permission.deleted = false;
    </select>
    <select id="buttonListByRoleIds" resultType="com.siyu.common.domain.entity.SysPermission">
        SELECT * FROM sys_permission
        LEFT OUTER JOIN sys_role_permission ON sys_permission.id = sys_role_permission.permission_id
        WHERE sys_role_permission.role_id IN
        <foreach collection="roleIds" index="index" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
        AND sys_permission.type = 2
        AND sys_permission.status = true
        AND sys_permission.deleted = false;
    </select>

</mapper>
