<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siyu.shiro.mapper.ShiroMapper">

    <select id="selectShiroUserByUsername" resultType="com.siyu.common.domain.dto.ShiroUser">
        SELECT * FROM sys_user WHERE sys_user.username = #{username}
    </select>
    <select id="selectDepartmentByDepartmentCode" resultType="com.siyu.common.domain.dto.ShiroDepartment">
        SELECT
            code,
            (
                SELECT
                    group_concat(name ORDER BY LENGTH(code) SEPARATOR '-' )
                FROM
                    sys_department
                WHERE
                    #{departmenCode} LIKE CONCAT('', code, '%')
            ) AS fullName
        FROM
            sys_department
        WHERE code = #{departmentCode}
    </select>
    <select id="selectRolesByUserId" resultType="com.siyu.common.domain.dto.ShiroRole">
        SELECT sys_role.id, sys_role.role_code, sys_role.role_name FROM sys_role
        LEFT OUTER JOIN
            sys_user_role ON sys_user_role.role_id = sys_role.id
        WHERE
            sys_user_role.user_id = #{userId}
        AND
            sys_role.deleted = false
    </select>


</mapper>
